/* =========================
   Local Community Event Portal Styles
   ========================= */
/* Header styles */
h1 {
    color: darkred;
    text-align: center;
    font-family: Arial;
}

/* Paragraph styles */
p {
    font-size: 20px;
    color: darkblue;
}

/* Button styles */
button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
}
/* Style for main CTA button */
.cta-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}